Options -Indexes
ErrorDocument 403 /403page.html
ErrorDocument 404 /404page.html
Redirect /discography.html /music.html
Redirect /photos.html /photography.html
Redirect /music/index.html /music.html
Redirect /index.php /index.html
Redirect /labs/index.html /resume.html
Redirect /photography/index.html /photography.html
Redirect /photography/ /photography.html

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]