@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:300,400,600');
body {	background-color: white;
		font-family: 'Encode Sans Expanded', sans-serif;
		margin: 20px;
	 }
#wrapper {
    min-width: 800px;
    max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
}
#talktitle {
	font-size: 300%;
	margin-bottom: 20px;
}
#photo {
	margin-bottom: 20px;
}
.photocaption {
	font-weight: 300;
}
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#photo img {
/*			width: 560px;
	height: 258px;*/
	width: 100%;
	max-width: 600px;
}
#description {
	margin-bottom: 20px;
	max-width: 960px;
}
#reactions {
	max-width: 960px;
}
.subheader {
	font-size: 200%;
}
.othersubheader {
	display:inline;
}
#video {
	margin-bottom: 20px;
}
.inlinelist {
  display: inline;
  list-style: none;
  margin-left: .2em;
  padding-left: 0em;
}
.inlinelistitem {
  display: inline;
}
.inlinelistitem:after {
  content: ", ";
}
.inlinelistitem:last-child:after {
	content: "";
}

#slides {
	margin-bottom:20px;
}

#presentations ul {
	list-style: none;
	padding-left: .6em;
}
#presentations li {
	margin-bottom: .3em;
}
.conferencename {
	font-weight:600;
}
.conferencedate {
	font-style: italic;
}

#reactions ul {
	list-style: none;
	padding-left: .6em;
}
#reactions li {
	margin-bottom: .5em;
}
.quote {
	font-style: italic;
}
