<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>$title</title>
    <meta name="description" content="talks by $author">
    <meta name="author" content="$author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="$googsiteverification" />

    <!-- Google ownership links -->
    <link rel="author" href="$googauthor"/>
    <link rel="publisher" href="$googpublisher" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:300,400,600" />
	<link rel="stylesheet" href="talkpages.css" />
	<style>
		.talk-description {
			font-weight: 300;
			font-size: .9em;
			margin-bottom: 1em;
		}
		#featured-talks ul {
			list-style: none;
			padding-left: 1em;
		}
		.year-list {
			list-style: none;
			padding-left: 1em;
		}
		.year {
			font-size: 1.2em;
		}
		.year-item {
			padding-bottom: 1em;
		}
		.year-item ul {
			list-style: none;
			padding-left: 0em;
		}
		.panel-list {
			padding-left: 1em;
		}
		.workshop-list {
			padding-left: 1em;
		}
	</style>
</head>
<body>
	<header></header>
	<div id="featured-talks">
		<div class="subheader">Current Talks</div>
		<ul>
			$currenttalklist
		</ul>
	</div>
	<div id="other-talks">
		<div class="subheader">Older Talks</div>
		<ul class="year-list">
			$othertalklist
		</ul>
	</div>
	<div id="panels">
		<div class="subheader">Panels</div>
		<ul class="panel-list">
			$panellist
		</ul>
	</div>
	<div id="workshops">
		<div class="subheader">Workshops</div>
		<ul class="workshop-list">
			$workshoplist
		</ul>
	</div>
	<footer></footer>
</body>
</html>