<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2753331-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-2753331-2');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=contain">
    <title>Music: Kevin Goldsmith</title>
    <meta name="description" content="Music created by Kevin Goldsmith">
    <meta name="author" content="Kevin Goldsmith">
    <meta name="google-site-verification" content="6-e5GrTPsmDpSGk6vICFdLGxj9buwsS1qiaxZKKj3Qw" />
    <link rel="canonical" href="https://kevingoldsmith.com/music.html" />

    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://ajax.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link rel="dns-prefetch" href="https://google-analytics.com" />

    {% include 'favicon.html' %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab" />
    <link rel="stylesheet" href="css/main.css" />

    <style type="text/css">
        section {
            clear: both;
            overflow: auto;
        }
        h2 {
            clear: both;
            margin-top: 1.5em;
        }
        h3 {
            clear: both;
        }
        .release-box-list li {
            display: block;
            float: left;
            border-style: solid;
            border-width: 1px;
            width: 200px;
            height: 275px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .release-box-list img {
            width: 200px;
            height: 200px;
        }
        .release-box-list li div {
            margin:5px;
        }
        #intonarumori-compilations {
            padding-top: 20px;
        }
        #bandcamp {
            padding-top: 20px;
        }
        #soundcloud {
            padding-top: 20px;
        }
        .youtube {
            width:420px;
            height:315px;
        }
        .spotify {
             width:420px;
             height:380px;
        }
       /* iPhone portrait */
        @media (max-device-width: 640px) {
            .spotify {
                width:100%;
                height:auto;
            }
        }
    </style>
</head>
{% include 'google-analytics.html' %}
<body>
    {% set active_page = 'musician' %}
    {% include 'header.html' %}
    <main id="content">
        {%- if music.featured_video %}
        <div class="ut"><iframe class="ut youtube" src="{{ music.featured_video.url }}" frameborder="0" allowfullscreen></iframe></div>
        {%- endif %}
        {%- for project in music.solo_projects %}
        <h2>Solo Recordings (<a href="{{ project.url }}">{{ project.name }}</a>)</h2>
        <section id="{{ project.name|replace(' ', '')|replace(' Who ', 'Who') }}SoloReleases" class="release-box-list">
            <h3>Solo Releases</h3>
            <ul>
                {%- for release in project.releases %}
                <li>
                    {%- if release.url %}<a href="{{ release.url }}">{% endif -%}
                    <img src="{{ release.image }}"{% if release.image_style %} style="{{ release.image_style }}"{% endif %} />
                    {%- if release.url %}</a>{% endif %}
                    <div>
                        {%- if release.url %}<a href="{{ release.url }}">{% endif -%}
                        <span class="release-album">{{ release.title }}</span>
                        {%- if release.url %}</a>{% endif %}, 
                        <span class="release-recordlabel">{{ release.label }}</span>, 
                        <span class="release-media">{{ release.media }}</span>, 
                        <span class="release-year">{{ release.year }}</span>
                    </div>
                </li>
                {%- endfor %}
            </ul>
        </section>
        {%- if project.compilations %}
        <section id="{{ project.name|replace(' ', '')|lower }}-compilations">
            <h3>Compilations</h3>
            <ul>
                {%- for comp in project.compilations %}
                <li>
                    {%- if comp.song %}<span class="release-song">{{ comp.song }}</span>, {% endif -%}
                    <span class="release-album">{{ comp.album }}</span>, 
                    <span class="release-recordlabel">{{ comp.label }}</span>, 
                    <span class="release-media">{{ comp.media }}</span>, 
                    <span class="release-year">{{ comp.year }}</span>
                </li>
                {%- endfor %}
            </ul>
        </section>
        {%- endif %}
        {%- if project.singles %}
        <section id="{{ project.name|replace(' ', '')|replace(' Who ', 'Who') }}Singles" class="release-box-list">
            <h3>Singles</h3>
            <ul>
                {%- for single in project.singles %}
                <li>
                    <img src="{{ single.image }}" />
                    <div>
                        <span class="release-song">{{ single.title }}</span>, 
                        <span class="release-recordlabel">{{ single.label }}</span>, 
                        <span class="release-media">{{ single.media }}</span>, 
                        <span class="release-year">{{ single.year }}</span>
                    </div>
                </li>
                {%- endfor %}
            </ul>
        </section>
        {%- endif %}
        {%- if loop.index == 3 and music.embeds.soundcloud %}
        <div id="soundcloud" class="ut">
            <iframe width="{{ music.embeds.soundcloud.width }}" height="{{ music.embeds.soundcloud.height }}" scrolling="no" frameborder="no" src="{{ music.embeds.soundcloud.url }}"></iframe>
        </div>
        {%- endif %}
        {%- endfor %}
        <h2>Group Recordings</h2>
        <section>
            <h3>Releases</h3>
            <ul>
                {%- for release in music.group_recordings.releases %}
                <li>
                    <span class="release-band">{{ release.band }}</span> - 
                    {%- if release.url %}<span class="release-album"><a href="{{ release.url }}">{{ release.album }}</a></span>{%- else %}<span class="release-album">{{ release.album }}</span>{%- endif %} - 
                    <span class="release-recordlabel">{{ release.label }}</span>, 
                    <span class="release-media">{{ release.media }}</span>, 
                    <span class="release-year">{{ release.year }}</span>
                </li>
                {%- endfor %}
            </ul>
        </section>
        {%- if music.embeds.bandcamp %}
        <div id="bandcamp" class="ut">
            <iframe style="border: 0; width: {{ music.embeds.bandcamp.width }}; height: {{ music.embeds.bandcamp.height }};" src="{{ music.embeds.bandcamp.url }}" seamless>
                <a href="{{ music.embeds.bandcamp.link_url }}">{{ music.embeds.bandcamp.link_text }}</a>
            </iframe>
        </div>
        {%- endif %}
        <section>
            <h3>Compilations</h3>
            <ul>
                {%- for comp in music.group_recordings.compilations %}
                <li>
                    <span class="release-band">{{ comp.band }}</span> - 
                    <span class="release-song">{{ comp.song }}</span>, 
                    <span class="release-album">{{ comp.album }}</span>, 
                    <span class="release-recordlabel">{{ comp.label }}</span>, 
                    <span class="release-media">{{ comp.media }}</span>, 
                    <span class="release-year">{{ comp.year }}</span>
                </li>
                {%- endfor %}
            </ul>
        </section>
        {%- for video in music.videos %}
        <div class="ut">
            <iframe class="youtube" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
        </div>
        {%- endfor %}
        <h2>Guest Performer</h2>
        <section>
            <ul>
                {%- for guest in music.guest_performances %}
                <li>
                    <span class="release-band">{{ guest.band }}</span>
                    {%- if guest.instrument %} - {{ guest.instrument }}{%- endif -%}
                    {%- if guest.role %} - {{ guest.role }}{%- endif %} - 
                    {%- if guest.songs -%}
                        {%- for song in guest.songs -%}
                            <span class="release-song">{{ song }}</span>{%- if not loop.last %} &amp; {%- endif -%}
                        {%- endfor -%}
                    {%- else %}
                        <span class="release-song">{{ guest.song }}</span>
                    {%- endif %}, 
                    <span class="release-album">{{ guest.album }}</span> - 
                    <span class="release-recordlabel">{{ guest.label }}</span>, 
                    <span class="release-media">{{ guest.media }}</span>, 
                    <span class="release-year">{{ guest.year }}</span>
                </li>
                {%- endfor %}
            </ul>
        </section>
        <h2>Producer</h2>
        <section>
            <ul>
                {%- for prod in music.producer_credits %}
                <li>
                    {%- if prod.band %}<span class="release-band">{{ prod.band }}</span>, {%- endif %}
                    <span class="release-album">{{ prod.album }}</span>, 
                    <span class="release-recordlabel">{{ prod.label }}</span>{%- if prod.media %}, 
                    <span class="release-media">{{ prod.media }}</span>{%- endif %}, 
                    <span class="release-year">{{ prod.year }}</span>
                </li>
                {%- endfor %}
            </ul>
        </section>
        {%- if music.embeds.spotify %}
        <div class="ut">
            <iframe style="border-radius:12px" src="{{ music.embeds.spotify.url }}" width="{{ music.embeds.spotify.width }}" height="{{ music.embeds.spotify.height }}" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        {%- endif %}
        <h2>Other</h2>
        <section>
            <ul>
                {%- for other in music.other_credits %}
                <li>
                    {%- if other.url %}<a class="outbound" href="{{ other.url }}" target="_new">{{ other.title }}</a>{%- else %}<span class="release-band">{{ other.band if other.band else other.title }}</span>{%- endif -%}
                    {%- if other.role %} - {{ other.role }}{%- endif -%}
                    {%- if other.song %} - <span class="release-song">{{ other.song }}</span>{%- endif -%}
                    {%- if other.album %} - <span class="release-album">{{ other.album }}</span>{%- endif -%}
                    {%- if other.label %} - <span class="release-recordlabel">{{ other.label }}</span>{%- endif -%}
                    {%- if other.media %}, <span class="release-media">{{ other.media }}</span>{%- endif -%}
                    {%- if other.description %} - {{ other.description }}{%- endif -%}
                    {%- if other.year %} - <span class="release-year">{{ other.year }}</span>{%- endif %}
                </li>
                {%- endfor %}
            </ul>
        </section>
    </main>
    {% include 'footer.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/googleevents.js"></script>
    <script src="js/fontfaceobserver.js"></script>
    </body>
</html>