<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=contain">
	<meta name="description" content="Photography by Kevin Goldsmith">
    <meta name="author" content="Kevin Goldsmith">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="6-e5GrTPsmDpSGk6vICFdLGxj9buwsS1qiaxZKKj3Qw" />
	<title>Photography: Kevin Goldsmith</title>
	<link rel="canonical" href="https://kevingoldsmith.com/photography.html" />

    <!-- Google ownership links -->
    <link rel="author" href="https://plus.google.com/+KevinGoldsmith"/>
    <link rel="publisher" href="https://plus.google.com/111904464094073716491" />

    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
	<link rel="dns-prefetch" href="https://ajax.googleapis.com" />
	<link rel="dns-prefetch" href="https://fonts.gstatic.com" />
	<link rel="dns-prefetch" href="https://google-analytics.com" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab" />
    <link rel="stylesheet" href="css/main.css" />
	<style type="text/css">
		/* Common header elements, move to separate file? */
		body {
			margin: 0;
		}
		#page-nav {
			position: fixed;
		}
		#page-nav ul {
			list-style-type: none;
			padding-left: 0;
			margin-top:0;
			margin-bottom:0;
			margin-left:.2em;
		}
		#page-nav a {
			color: #000000;
		}
		#page-nav a:visited {
			color: #000000;
		}
		#content {
			padding-right: 0em;
			padding-left: 0em;
			padding-bottom: 1em;
		}
		#footer {
			width: auto;
		}
	</style>
</head>
<body>
<!-- thanks to https://codepen.io/eksch/pen/xwdOeK for the page navigation code example (I had to tweak some)  -->
	<header id="header">
        <div id="name"><a href="$siteroot">Kevin Goldsmith</a></div>
		<nav id="site-nav">
			<ul>
				$sitenav
			</ul>
		</nav>
	</header>
	<main id="content">
	<iframe id="ifrm" src="https://photo.kevingoldsmith.com" style="border:none; width:100%"></iframe>
	</main>
	<footer id="footer">
		kevingoldsmith.com
	</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/googleevents.js"></script>

    <script type="text/javascript">
    function resizeIframe()
    {
        $$("#ifrm").css("height", $$(window).height() - $$("#header").position().top - $$("#header").height() - $$("#footer").height() - 60);
    }

    $$(document).ready(function()
    {
    	resizeIframe()             
        $$(window).resize(function(event) {
            /* Act on the event */
            resizeIframe();
        });

    });
    </script>
</body>
</html>