<header id="header">
    <div id="name"><a href="{% if not debug_mode %}https://kevingoldsmith.com/{% else %}{{rootpath}}index.html{% endif %}">Kevin Goldsmith</a></div>
    <div id="site-nav">
        <ul>
            <li><a href="{{rootpath}}resume.html">technology leader</a></li>
            <li><a href="{{rootpath}}talks/index.html">speaker</a></li>
            <li><a href="{{rootpath}}writing.html">writer</a></li>
            <li><a href="{{rootpath}}music.html">musician</a></li>
            <li class="current-page"><a href="{{rootpath}}photos/index.html">photographer</a></li>
        </ul>
    </div>
</header>
