<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{title}}</title>
    <meta name="description" content="Photogallery {{galleryname}} by {{author}}" />
    <meta name="author" content="{{author}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="{{googsiteverification}}" />
    <link rel="canonical" href="https://kevingoldsmith.com/photos/{{filename}}" />
   
	{% include 'favicon.html' %}

    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
	<link rel="dns-prefetch" href="https://ajax.googleapis.com" />
	<link rel="dns-prefetch" href="https://fonts.gstatic.com" />
	<link rel="dns-prefetch" href="https://google-analytics.com" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab" />
    <link rel="stylesheet" href="{{rootpath}}css/main.css" />
</head>
{% include 'google-analytics.html' %}
<body>
	{% include 'photo-header.html' %}
	<main id="content">
        <h1>{{galleryname}}</h1>
        {% if gallerydescription %}<div id="gallerydescription">{{gallerydescription}}</div>{% endif %}
        {% if subgalleries %}
        <ul>
            {% for gallery in subgalleries %}
            <li><a href="{{gallery.relative_path}}{% if debug_mode %}index.html{% endif %}">{{gallery.name}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
		<!-- end #mainContent -->
	</main>
	{% include 'footer.html' %}
	<script src="{{rootpath}}js/fontfaceobserver.js"></script>
</body>
</html>