<!DOCTYPE html>
<html class="no-js">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2753331-2"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-2753331-2');
	</script>

	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{title}}</title>
    <meta name="description" content="information about the talk {{talktitle}} by {{author}}" />
    <meta name="author" content="{{author}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="{{googsiteverification}}" />
    <link rel="canonical" href="https://kevingoldsmith.com/talks/{{filename}}" />
   
	{% include 'favicon.html' %}

    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
	<link rel="dns-prefetch" href="https://ajax.googleapis.com" />
	<link rel="dns-prefetch" href="https://fonts.gstatic.com" />
	<link rel="dns-prefetch" href="https://google-analytics.com" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="talkpages.css" />
</head>
<body>
	{% include 'talk-header.html' %}
	<main id="content">
		<div><a href="{{talkroot}}">< talks</a></div>
		<h1 id="talktitle">{{talktitle}}</h1>
		{% if photo %}<div id="photo"><img src="{{photo}}" class="aligncenter"/></div>{% endif %}
		<div id="description">
			<div class="subheader">Description</div>
			<div id="talkdescription">{{description}}</div>
		</div>

		{% if video_embed or other_videos %}
			<div id="video"><div class="subheader">Recordings</div>
			{% if video_embed %}{{video_embed}}
				{% if other_videos %}
				<div id="othervideos"><div class="othersubheader">Other recordings</div>
				{% endif %}
			{% endif %}
			{% if other_videos %}
				<ul class="inlinelist">
					{% for recording in other_videos %}<li class="inlinelistitem"><a class="outbound" href="{{recording['recording-url']}}">{{recording.conference}} ({{recording.date.year}})</a></li>
					{% endfor %}
				</ul>
				{% if video_embed %}</div>{% endif %}
			{% endif %}
			</div>
		{% endif %}
		{% if slide_embed or other_slides %}
		<div id="slides">
			<div class="subheader">Slides</div>
			{{slide_embed}}
			{% if other_slides %}
			<div id="otherslides">
				<div class="othersubheader">Other Versions</div>
				<ul class="inlinelist">
					{% for slide in other_slides %}<li class="inlinelistitem"><a class="outbound" href="{{slide['slides-url']}}">{{slide.talk}} ({{slide.date.year}})</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		{% endif %}
		{% if presentationlist %}
		<div id="presentations">
			<div class="subheader">Presented at</div>
			<ul>
				{% for presentation in presentationlist %}
				<li><span class="conferencename">{{ presentation.conference_name }}</span> {% if presentation.type == 'keynote' %}(Keynote){% endif %} - <span class="conferencedate">{{ presentation.date }}</span> - <span class="conferencelocation">{{ presentation.location }}</span></li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		{% if reactions %}
		<div id="reactions">
			<div class="subheader">Reactions</div>
			<ul>
		{% for reaction in reactions %}
		{% if reaction['reference-url'] %}
		<li><span class="quote">{{ reaction.quote }}</span> - <a class="outbound" href="{{ reaction['reference-url'] }}">{{ reaction.credit }}</a></li>
		{% else %}
		<li><span class="quote">{{ reaction.quote }}</span> - {{ reaction.credit }}</li>
		{% endif %}
		{% endfor %}
			</ul>
		</div>
		{% endif %}
		<!-- end #mainContent -->
	</main>
	{% include 'footer.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../js/googleevents.js"></script>
	<script src="../js/fontfaceobserver.js"></script>
</body>
</html>