<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>$title</title>
    <meta name="description" content="Page describing the talk $title by $author" />
    <meta name="author" content="$author" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="$googsiteverification" />

    <!-- Google ownership links -->
    <link rel="author" href="$googauthor"/>
    <link rel="publisher" href="$googpublisher" />

    <link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" href="talkpages.css" />
</head>
<body>
	<header id="header">
		<h1 id="name"><a href="index.html">Kevin Goldsmith</a></h1>
		<div id="site-nav">
			<ul>
				<li><a href="../resume.html">technology leader</a></li>
				<li class="current-page"><a href="index.html">speaker</a></li>
				<li><a href="../writing.html">writer</a></li>
				<li><a href="../music.html">musician</a></li>
				<li><a href="../photography.html">photographer</a></li>
			</ul>
		</div>
	</header>
	<div id="content">
		<div><a href="index.html">talks></a></div>
		<h1 id="talktitle">$title</h1>
		$photo
		<div id="description">
			<div class="subheader">Description</div>
			<div id="talkdescription">$description</div>
		</div>
		$video
		$slides
		<div id="presentations">
			<div class="subheader">Presented at</div>
			<ul>
				$presentationlist
			</ul>
		</div>
		$reactions
		<!-- end #mainContent -->
	</div>
	<footer>
		kevingoldsmith.com
	</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/googleevents.js"></script>
</body>
</html>