<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>$title</title>
    <meta name="description" content="Page describing the talk $title by $author">
    <meta name="author" content="$author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="$googsiteverification" />

    <!-- Google ownership links -->
    <link rel="author" href="$googauthor"/>
    <link rel="publisher" href="$googpublisher" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:300,400,600" />
	<link rel="stylesheet" href="talkpages.css" />
</head>
<body>
	<div id="header"></div>
	<div id="talktitle">$title</div>
	<div id="photo">
		<img src="$photo" />
		<div class="photocaption">$photocaption</div>
	</div>
	<div id="description">
		<div class="subheader">Description</div>
		<div id="talkdescription">$description</div>
	</div>
	$video
	$slides
	<div id="presentations">
		<div class="subheader">Presented at</div>
		<ul>
			$presentationlist
		</ul>
	</div>
	$reactions
	<div id="footer"></div>
</body>
</html>